@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background-color: color-mix(in srgb-linear, rgb(141, 182, 156) 50%, rgb(144, 132, 62) 20%);
  color:#3a393f;
  text-align:center;
}
canvas {
  display: block;
  padding:5px;  
  border: 2px dotted cornsilk;
  border-radius: 3%;
  background-color: rgba(95, 163, 180, 0.524)
}

p1 { 
  margin:auto;
  font-family: 'Gluten', cursive;
  font-size: 116%;
}

p2 {
  color: red;
  font-family: 'Gluten', cursive;
}
p3 {
  color:green;
  font-family: 'Gluten', cursive;
}
p4 {
  color:blue;
  font-family: 'Gluten', cursive;
}

h1{
  margin:auto;
  text-align:center;
  font-family: 'Rock Salt', cursive;
}

h2{
  margin:auto;
  justify-content: left;
  font-size:150%;
  text-decoration: underline ;
  font-family: 'Gluten', cursive;
}

h3{
  justify-content: left;
  font-size:150%;
  text-decoration: underline ;
  font-family: 'Gluten', cursive;
}

button {
  margin: auto;
  border-radius: 10%;
  background-color: rgb(177, 197, 208);
  font-family: 'Grape Nuts', cursive;
  font-size: 120%;
}

.controls {
  margin:auto;
  padding: 13px;
  display: grid;
  grid-template-columns: 40%  20%; 
  background-color: rgba(211, 176, 189, 0.565);
}

.bottom-buttons{
  margin: auto;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 40%  40%;
}

.change {
  margin: auto;
  padding: 20px;
  padding-top: 30px;
  text-align: left;
  border: 5px dotted rgb(87, 108, 154);
  background-color: rgb(150, 195, 182);
}

#color-set {
  float:right;
  width: 55px;
  height: 150px;  
  margin-top: 20px;
  padding:5px;
  background-color: aliceblue;
}

#color-slider {
  display: block;
  margin:auto;
  padding:20px;
  padding-bottom: 5px;
}

#color-slider2 {
  display: block;
  margin:auto;
  padding:20px;
  padding-bottom: 5px;
}

#color-slider3 {
  display: block;
  margin:auto;
  padding:20px;
  padding-bottom: 5px;
}

#size-slider {
  display: block;
  padding-bottom: 10px;
}

#save-button {
  margin:10px;
}

#reset-button {
  margin:10px;
}